.boxes{    
    width: 900px; /* 900 */
    height: 40vh; /* 350 */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid lightpink;    
    border-radius: 10px;
    margin-top: 10px;
}

.boxes__message{
    font-family: 'Modak', cursive;    
    font-size: 50px;
    color: skyblue;
    margin: 0 !important;       
}

.question-icon{
    font-size: 10rem;
    color:darksalmon;
    position: absolute;
    z-index: 2;    
}


/* Media Queries */

@media (max-width: 1000px){
    .boxes{
        width: 800px;
        height: 350px;        
    }
}

@media(max-width: 1650px) and (max-height:900px){
    .boxes{
        width: 800px;
        height: 300px;        
    }

    .boxes__message{ 
        margin-top: 5px !important;          
        font-size: 40px;           
    }
}



