.item{
    width: 130px;
    height: 130px;
    border-radius: 10px;
    background-color: white;
    align-self: center;
    justify-self: center;
    display: flex;
    cursor: pointer;  
}

/* Media Queries */

@media(max-width: 1330px){
    .item{
        width: 100px;
        height: 100px;
    }   
}

@media(max-width: 1000px){
    .item{
        margin: 10px;
    }   
}

