.carousel__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.carousel{    
    width: 800px;
    height: 350px;       
    display: flex; 
    justify-content:  space-evenly;   
    align-items: center;
    overflow: hidden;        
}


.carousel__message{
    font-family: 'Modak', cursive;    
    font-size: 40px;
    margin: 0;
    color: palevioletred; 
}

.carousel__btn{ 
    all: unset;   
    width: 80px;
    height: 80px;          
    border-radius: 80px;    
    display: flex;
    place-content: center;   
    background-color: white;
    outline: none;
    z-index: 1;
    cursor: pointer;
    box-shadow: inset 2px -3px 11px rgba(80, 92, 51, 0.17);
}

.carousel__btn:hover {
    transform: translateY(-3px);   
    box-shadow: inset 2px -7px 11px rgba(80, 92, 51, 0.17);
}

.carousel__btn:active {
    transform: translateY(-1px);    
    box-shadow: inset 2px -7px 11px rgba(80, 92, 51, 0.17);
}

.carousel__icon{
    font-size: 50px;
    font-weight: bold;
    color: hotpink;          
}

/* Media Queries */

@media(max-width: 1330px){
    .carousel{
        width: 700px;
        height: 300px;       
    }
}

@media(max-width: 820px){
    .carousel{
        width: 500px;
        height: 300px;       
    }

    .carousel__btn{          
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }

    .carousel__icon{
        font-size: 38px;                  
    }
}